/* Light Theme */
$background-primary-light: #fff;
$accent-primary-light: #000;
$accent-opacity-light: .25;

/* Dark Theme */
$background-primary-dark: #000;
$accent-primary-dark: #fff;
$accent-opacity-dark: .5;